<div class="sadriCodesModules adminwrapper" id="userConfig">
    <h1>User setting stuff for plugins</h1>
    <div class="adminMenuWrap">
        <div class="moduleSettingMenu">
            <h4 class="moduleMenuName">Introduction</h4>
            <button class="actionButton activeTab" originTab="introPage" onclick="loadSection()">What is
                this?</button>
        </div>
        <div class="moduleSettingMenu" data-module-name="wrapperSwitch">
            <h4 class="moduleMenuName">Wrapper Switch</h4>
            <button class="actionButton" originTab="userCharacters" onclick="loadSection()">My Characters</button>
            <button class="actionButton" originTab="characterCode" onclick="loadSection()">Get Character
                Code</button>
        </div>
    </div>
    <section id="basePage" class="showSection">
        <section id="introPage" class="showSection settingPanel">
            <h2>User Module Settings</h2>
            <div class="settingHeader">What is this?</div>
        </section>
    </section>
    <section data-module-name="wrapperSwitch" id="switchSettingPanel" class="hideSection">
        <section id="userCharacters" class="settingPanel hideSection">
            <h2>Wrapper Switch</h2>
            <div class="settingHeader">User Characters
            </div>
            <div class="buttonTabLine"><button class="actionButton" onclick="newChar()">Add New Character</button>
            </div>
            <div id="userCharList"></div>
        </section>
        <section id="characterCode" class="settingPanel hideSection">
            <h2>Wrapper Switch</h2>
            <div class="settingHeader">Generate Character Code
            </div>
            <div class="buttontabline">
                <button class="actionButton" onclick="makeCode()">Generate Character Code</button>
                <button class="actionButton">Copy Code</button>
            </div>
            <textarea id="generatedCode"></textarea>
            <div id="generateCharacterCode"></div>
        </section>
    </section>
</div>

<script src="http://127.0.0.1:8080/global_user.js" type="module"></script>